The http request parser can't handle obsolete line folding in header fields

For 
```
http_request_parser parser;
sstring parsable = "GET /test HTTP/1.1\r\nHeader: Field\r\n obs-fold\r\n\r\n";
```
The result of
```
parser.parse(parsable.begin(), parsable.end(), nullptr)
```
is **nullptr** (which indicates that the request hasn't been parsed yet). 
In RFC 7230, Section 3.2.4. we can read:

>    A server that receives an obs-fold in a request message that is not
>    within a message/http container MUST either reject the message by
>    sending a 400 (Bad Request), preferably with a representation
>    explaining that obsolete line folding is unacceptable, or replace
>    each received obs-fold with one or more SP octets prior to
>    interpreting the field value or forwarding the message downstream.

Therefore the result should be parsable.end() or some state indicating message rejection.



The reason for the result is the ragel state machine used for generating the request parser:
```
crlf = '\r\n';
value = any* >mark %store_value;
header_1st = (field sp_ht* ':' sp_ht* value :> crlf) %assign_field;
header_cont = (sp_ht+ value sp_ht* crlf) %extend_field;
header = header_1st header_cont*;
main := start_line header* :> (crlf @done);
```
When reading a whitespace after matching "header_1st", the parser enters "header_cont". Then, after reading a non-whitespace character, it enters "value". The "value" submachine matches any character any number of times, so the parser never leaves it and never finishes parsing the request. 
The same doesn't happen in header_1st because the ":>" causes the parser to leave "value" upon encountering '\r' (the starting character of the crlf token).


Fixed in efd61d38401f2bbe87ade8cfe7502f53b5f35e25