The http request parser overwrites repeating header fields

The request headers are stored in an unordered_map: https://github.com/scylladb/seastar/blob/08f5f54c6f7ee9bd56c83d750a0a2d6930511b2a/include/seastar/http/request.hh#L74
The http_request_parser saves them after parsing (by calling assign_field, optionally extended by extend_field):
https://github.com/scylladb/seastar/blob/08f5f54c6f7ee9bd56c83d750a0a2d6930511b2a/src/http/request_parser.rl#L63-L96
If a header name repeats, its old value is overwritten.

Can be fixed by applying RFC 7230, Section 3.2.2. Field Order:
 
>    A recipient MAY combine multiple header fields with the same field
>    name into one "field-name: field-value" pair, without changing the
>    semantics of the message, by appending each subsequent field value to
>    the combined field value in order, separated by a comma.

Fixed in efd61d38401f2bbe87ade8cfe7502f53b5f35e25