HTTP reply's API for setting content type is a mess

While trying to make advanced usage of Seastar's HTTP server's mechanism for specifying the content-type header in the response I realized it is a mess:

1. `reply::set_content_type()`, despite its rather self-explanatory name, doesn't actually let you set the content-type as you wish! Rather, you need to pass it one of few fixed file extensions, and the full content_type header gets chosen for you. If you pass something which is *not* a known file extension, you get the `text/plain` content type - so something like `set_content_type("application/xyz") won't do what you think at all! Why can't we fall back to sending the given string instead of text/plain? Especially if the given string begins in known prefixes like "application/" or "text/"?
2. So for a content-type which doesn't have a known file extension, you need to use `reply::set_mime_type()` which actually sets Content-Type ;-)
3. A bunch of other functions **force** or just **mislead** you to use `set_content_type()` instead of the `set_mime_type()` that you may want to use. When  `done()` takes a string, it calls `set_content_type()` with it. Luckily, there is also an argument-less variant of `done()` which avoids this call so the user can call `set_mime_type` and then the argument-less `done()`. We're less lucky in the `reply::write_body()` function - which always calls set_content_type() (there is no variant without it), so the caller is forced to first set the some random content-type and then override it with something else, which is weird and ugly.
 
I think I managed to work around all these problems in my code, so it's not that any feature is really _missing_. It's just that users shouldn't need to pass random parameters to the  API and battle with misleadingly-named methods to get their code working.

As you can see in the MIME  [RFC 2045, section 5.1](https://datatracker.ietf.org/doc/html/rfc2045#section-5.1), a full MIME type always needs to look like `type/subtype`, e.g., `application/json`. A string without a slash, like "json", cannot be a full MIME type so it makes sense to look it up in some sort of extension table (a la Unix's /etc/mime.types).

So I propose doing the following:
1. Remove one of the two functions set_content_type() or set_mime_type(). Both are reasonable names, I personally prefer leaving `set_content_type()`. Change all the calls in Seastar to the removed function to call the remaining one, and leave the removed function as a deprecated alias to the remaining one.
2. In the remaining function, if there is a slash in the given content-type, use it directly. Otherwise, use the extension lookup table - as in today's `set_content_type()`.